.button {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0px 0px 6px #ccc;
  color: #333;
  cursor: pointer;
  display: flex;
  font-family: "Fjalla One", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  min-width: 150px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

.button:hover {
  box-shadow: 0px 0px 15px #ccc;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.button:disabled,
.button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.buton__icon {
  font-size: 20px;
  padding-right: 12px;
}

.button.primary {
  background: #ff3d64;
  background: -moz-linear-gradient(to top, #ff8a6c 0%, #ff365f 100%);
  background: -webkit-linear-gradient(to top, #ff8a6c 0%, #ff365f 100%);
  background: linear-gradient(to bottom, #ff8a6c 0%, #ff365f 100%);
  border: none;
  box-shadow: 0px 0px 6px #ff3d64;
  color: #fff;
}

.button.primary:hover {
  box-shadow: 0px 0px 15px #ff3d64;
}

.button.secondary {
  background: #5a8bfc;
  background: -moz-linear-gradient(
    to top,
    #0de3c5 0%,
    #1ebbda 50%,
    #5a8bfc 100%
  );
  background: -webkit-linear-gradient(
    to top,
    #0de3c5 0%,
    #1ebbda 50%,
    #5a8bfc 100%
  );
  background: linear-gradient(to bottom, #0de3c5 0%, #1ebbda 50%, #5a8bfc 100%);
  border: none;
  box-shadow: 0px 0px 6px #4cbbf7;
  color: #fff;
}

.button.secondary:hover {
  box-shadow: 0px 0px 15px #4cbbf7;
}

.button.tertiary {
  background: #5a8bfc;
  background: -moz-linear-gradient(
    to top,
    #aa4ec8 0%,
    #9d48b7 50%,
    #754cc5 100%
  );
  background: -webkit-linear-gradient(
    to top,
    #aa4ec8 0%,
    #9d48b7 50%,
    #754cc5 100%
  );
  background: linear-gradient(to bottom, #aa4ec8 0%, #9d48b7 50%, #754cc5 100%);
  border: none;
  box-shadow: 0px 0px 6px #9d48b7;
  color: #fff;
}

.button.tertiary:hover {
  box-shadow: 0px 0px 15px #9d48b7;
}
